<div class="w-screen border-t-2 border-green-700 bg-black">

    <div class="mx-auto container xl:px-20 lg:px-12 sm:px-6 px-4 py-6" >
        <div class="flex flex-col items-center justify-center text-zinc-200">
            <div>
                <h1 style="font-family: 'Brim'; font-size: 3rem;">COIN N NOTE</h1>
            </div>
            <div class="flex flex-wrap sm:gap-10 gap-8 items-center justify-center mt-8">
                <a href="#" class="focus:underline focus:outline-none hover:text-green-700 text-base cursor-pointer leading-4 text-white">About</a>
                <a href="#" class="focus:underline focus:outline-none hover:text-green-700 text-base cursor-pointer leading-4 text-white">Contact us</a>
                <a href="#" class="focus:underline focus:outline-none hover:text-green-700 text-base cursor-pointer leading-4 text-white">Terms of Service</a>
                <a href="#" class="focus:underline focus:outline-none hover:text-green-700 text-base cursor-pointer leading-4 text-white">Privacy Policy</a>
            </div>
            <div class="flex items-center gap-x-8 mt-6">
                <button aria-label="facebook" class=" focus:ring-offset-2 focus:ring-2 focus:ring-white hover:text-green-700  focus:outline-none rounded-full">
                    <i class="fa-brands fa-facebook"></i>
                </button>
                <button aria-label="instagram" class="focus:ring-offset-2 focus:ring-2 focus:ring-white  hover:text-green-700 focus:outline-none rounded-full">
                    <i class="fa-brands fa-instagram"></i>
                </button>
                <button aria-label="pinterest" class="focus:ring-2 focus:ring-offset-2 focus:ring-white  hover:text-green-700 focus:outline-none rounded-full">
                    <i class="fa-brands fa-whatsapp"></i>
                </button>
            </div>
            <div class="flex items-center mt-6">
                <p class="text-base leading-4 text-white">2023 <span class="font-semibold">Coin N note</span></p>
                <div class="border-l border-white pl-2 ml-2">
                    <p class="text-base leading-4 text-white">Inc. All righys reserved</p>
                </div>
            </div>
            <div class="mt-3">
                <p class="text-base leading-4 text-white">Developed By <span class="font-semibold">The Average Joe's Developers</span></p>
            </div>
        </div>
    </div>
</div>

